<div class="container-fluid wrapper">
  <div class="card bg-secondary mb-3 about-app-card">
    <div class="card-header bg-secondary text-white text-center"><h5>About Task Manager</h5></div>
    <div class="card-body bg-secondary">
      <div class="row">
        <div class="col text-white">
          <div class="logo"></div>
          <p> Discover Task Manager, the essential app that provides you with a comprehensive task list to keep track of your responsibilities and desires. </p>
          <p>Whether in business or daily life, a todo list is the ultimate tool to combat overwhelm, prevent forgetfulness, stay accountable, and meet deadlines.</p>
          <p>Join the thousands of individuals who have found solace in Task Manager, transforming their lives by embracing efficient organization and productivity.</p>
          <p>Stay ahead of your tasks effortlessly and experience the joy of a more organized and fulfilling existence.</p>
        </div>
      </div>
    </div>
  </div>
  <button (click)="redirectToMain()" class="btn btn-primary">Start</button>
</div>
